body
{
    font-family: 'special elite', cursive;
    background: -moz-linear-gradient();
}

.header_div
{
    background: -webkit-gradient();
    color: beige;
}

.header_div p{
    font-family: 'Roboto', sans-serif;
    color: rgb(251, 1, 101);
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}

.main_div button{
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}

.copy_right_footer {
    position: fixed;
    color: rgba(140, 0, 255, 0.66);
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: aliceblue;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(151, 149, 149);
}